body {
    background-color: rgb(0, 0, 0)

font-family "Bitcount Grid Single", system-ui;

}

p {


color: rgb(255, 0, 0);
}

.belo {
    color: rgb(130, 0, 0);
}

#corunica {
    color: indigo;
}