body {
  margin: 0;
}

.logo img {

  width: 96px;
  height: auto;
}

.site-header {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 32px ;
  background-color: rgb(255, 251, 251);
  display: flex;
  box-shadow:0 10px 24px rgba(37, 37, 37, 0.822);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
}

.informacoes.aluno {

  font-size: 14px;
  color: rgba(153, 153, 153, 0.548);
  margin-bottom:4px;
}

.informacoes .titulo-site {
  font-size: 18px;
  margin: 0;
  color:black
}

.site-nav a {
  color: blueviolet;
  text-decoration: none;
  font-weight: 600;

}

.site-nav a:hover {
  text-decoration: underline;
}